<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required Meta tags -->
  <meta charset="utf-8" />
  <meta name="description" content="SkyLine Technologies description will comes here." />
  <meta name="keywords" content="SkyLine Technologies Keywords will comes here" />
  <meta name="author" content="Jangam Sidhartha" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <!-- Document Title -->
  <title>SkyLine Technologies | About Us</title>

  <!-- Bootstrap V 5.3 -->
  <link href="css/bootstrap.min.css" rel="stylesheet" />

  <!-- Google Icons -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/styles.css" />
</head>

</html>